* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.25;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #1f2937;
}
nav a {
  text-decoration: none;
  color: #e5e7eb;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-size: 18px;
}
nav #logo {
  color: #f9faf8;
  font-size: 1.5rem;
  font-weight: bold;
}

button {
  padding: 0.75rem;
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}
button:hover {
  cursor: pointer;
}

#about {
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  background: #1f2937;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
#about #about-text {
  max-width: 30rem;
}
#about h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: #f9faf8;
}
#about p {
  color: #e5e7eb;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}
#about #placeholder {
  width: 30%;
  color: #e5e7eb;
  background: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info h2 {
  width: max-content;
  margin: 2rem auto;
  color: #1f2937;
  font-size: 2.25rem;
  font-weight: bolder;
}
#info .img-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}
#info figure {
  max-width: 200px;
}
#info img {
  height: 200px;
  width: 200px;
  border-radius: 0.5rem;
  border: 4px solid #3882f6;
}

#testimonial {
  margin-top: 5rem;
  padding: 2rem;
  font-size: 2.25rem;
  background-color: #e5e7eb;
  color: rgba(0, 0, 0, 0.8);
}
#testimonial blockquote {
  max-width: 60%;
  margin: 3rem auto;
  text-align: center;
  font-style: italic;
}
#testimonial blockquote footer {
  font-style: normal;
}
#testimonial footer {
  text-align: right;
}

#signup {
  max-width: 50%;
  padding: 2rem;
  margin: 5rem auto;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
}
#signup button {
  border: 1px solid white;
}

#footer {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #1f2937;
  font-size: 1.1rem;
}
